/**
 ** Palette:
 ** --------
 **
 ** Basic color palette (dark theme?):
 **   Background:   #1b1f23 (eerie black)
 **   Foreground:   #fcfeeb (ivory)
 **   Link:         #847177 (mountbatten pink)
 **   Link (hover): #cc285a (rose red)
 **   Border:       #5b639a (ultra violet)
 **
 **/

/*
 *
 * General styling
 *
 */

body {
  font-family: "Raleway", sans-serif;
  font-size: 14pt;
  
  display: flex;
  flex-direction: column;
  
  height: 98vh;
  width: 98vw;
  
  background-color: #1b1f23;
  color: #fcfeeb;
}

a {
  color: #847177;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #cc285a;
  text-decoration: underline;
}

/*
 *
 * Header styling
 *
 */

header {
  padding-bottom: 10px; 
  margin-bottom: 10px;
  
  border-bottom-color: #5b639a;
  border-bottom-style: solid;
  border-bottom-width: heavy;
}

header nav {
  display: flex;
  flex-direction: row;
  
  margin-left: 1in;
  margin-right: 1in;
}

header nav a {
  font-weight: normal;
}
    
header nav.inter-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav.intra-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding-left: 0.25cm;
}

header .title {
  text-align: center;
  
  font-weight: 775;
  font-size: 26pt;
  
  padding-bottom: 5px;
}

header .title .subtitle {
  font-weight: normal;
  font-size: 18pt;
}

/*
 *
 * Footer styling
 *
 */

footer {
  flex-shrink: 0;
  text-align: center;
  
  margin-top: 1cm;
  
  padding-top: 0.5cm;
  padding-bottom: 0.25cm;
  
  border-top-color: #5b639a;
  border-top-style: solid;
  border-top-width: heavy;
}

footer a.contact {
  font-weight: normal;    
}

/*
 *
 * Main content styling
 *
 */
 
main {
  /* This is used to place the footer in the right spot */
  flex: 1 0 auto;

  /* This is used to place content correctly */
  display: flex;
  flex-direction: row;
}

main section {
  max-width: 75vw;
}

/*** Navigation box ***/

main > nav {
  width: 13vw;
  
  margin-right: 1cm;
  margin-top: 1cm;
  
  padding-left: 0.4cm;
  padding-right: 0.4cm;
  padding-top: 1.25cm;
  padding-bottom: 1.25cm;
  
  border-top-style: solid;
  border-top-width: heavy;
  border-top-color: #5b639a;
  
  border-bottom-style: solid;
  border-bottom-width: heavy;
  border-bottom-color: #5b639a;
  
  border-right-style: solid;
  border-right-width: heavy;
  border-right-color: #5b639a;
  
  border-top-right-radius: .25cm;
  border-bottom-right-radius: .25cm;
  
  background-image: linear-gradient(
    to left,
    rgba(27, 31, 35, 0.5),
    rgba(27, 31, 35, 0.4),
    rgba(27, 31, 35, 0)
  );
  mix-blend-mode: screen;
}

main > nav h2 {
  font-weight: bold;
  font-size: 18pt;
  
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #5b639a;
  
  margin-right: 0.75cm;
}

main > nav h2::before, main > nav h2::after {
  content: "\00A0";
}

main > nav h3 {
  font-weight: bold;
  font-size: 14pt;
}

main > nav .nav-element {
  padding-left: 0.2cm;
}

main > nav .nav-element p {
  padding-left: 0.25cm;
  font-size: 12pt;
}

/* List-style navigation box */

main > nav > ul {
  list-style: none;
  margin-left: -1.55em;
}

main > nav > ul > li:not(:first-of-type) {
  padding-top: 0.5em;
}

main > nav > ul > ul {
  list-style: "- ";
  margin-left: -0.5em;
}

main > nav > ul > ul a {
  font-weight: normal;
}

main > nav > ul .active-page {
  color: #cc285a;
  font-weight: bold;
}

main > nav > ul .active-page:hover {
  text-decoration: underline;
}

/*** Primary content styling ***/

section.content-area {
  margin-top: 1cm;
  margin-bottom: 1cm;
  
  text-align: justify;
}

section.content-area section h1 {
  border-bottom-style: solid;
  border-bottom-width: heavy;
  border-bottom-color: #5b639a;
  
  padding-left: 0.25cm;
  
  font-size: 20pt;
}

section.content-area section p {
  padding-left: 0.5cm;
  padding-right: 0.75cm;
}

section.content-area {
  margin-top: 1cm;
  margin-bottom: 1cm;
  
  text-align: justify;
}

section.content-area p.signoff {  
  text-align: right;  
}

/* Nav hub */

section.content-area section:has(+ section.nav-hub) {
  border-bottom-style: solid;
  border-bottom-width: heavy;
  border-bottom-color: #5b639a;
}

section.content-area > section.nav-hub {
}

section.content-area > section.nav-hub > h1 {
  padding-top: 0.5cm;
  
  border: none;
  
  text-align: center;
  font-weight: bolder;
  font-size: 25pt;
}

section.content-area > section.nav-hub .nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.content-area > section.nav-hub .nav-wrapper nav {
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 0.25cm;
  padding-right: 0.25cm;
  
  max-width: 48%;
}

section.content-area > section.nav-hub .nav-wrapper nav:last-of-type {
    margin-left: 0;
}

section.content-area > section.nav-hub .nav-wrapper nav .nav-element:not(:first-child) {
  margin-top: 0.75cm;
}

section.content-area > section.nav-hub .nav-wrapper nav .nav-element a.nav-title {
  font-size: 13pt;
  font-weight: normal;
  
  text-align: justify;
}

section.content-area > section.nav-hub .nav-wrapper nav .nav-element p {
  font-size: 11pt;
  text-align: justify;
}

section.content-area > section.nav-hub .nav-wrapper nav .nav-element .time {
  font-size: 10pt;
  font-style: italic;
}

section.content-area > section.nav-hub .nav-wrapper nav h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #5b639a;
  
  font-size: 18pt;
  
  border: none;
}

section.content-area > section.nav-hub .nav-wrapper nav h1::before,
section.content-area > section.nav-hub .nav-wrapper nav h1::after {
  content:  "\00A0";
}