/*
 * Basic color palette (dark theme?):
 *   Background:   #1b1f23 (eerie black)
 *   Foreground:   #fcfeeb (ivory)
 *   Link:         #847177 (mountbatten pink)
 *   Link (hover): #cc285a (rose red)
 *   Border:       #5b639a (ultra violet)
 *
 */

body {
  font-family: "Raleway", sans-serif;
  font-size: 14pt;
  
  display: flex;
  flex-direction: column;
  
  height: 98vh;
  
  background-color: #1b1f23;
  color: #fcfeeb;
}

a {
  color: #847177;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #cc285a;
  text-decoration: underline;
}

a.contact {
  font-weight: normal;    
}

.header {
  padding-bottom: 10px; 
  margin-bottom: 10px;
  
  border-bottom-color: #5b639a;
  border-bottom-style: solid;
  border-bottom-width: heavy;
}

.header nav {
  display: flex;
  flex-direction: row;
  
  margin-left: 1in;
  margin-right: 1in;
}

.header nav a {
  font-weight: normal;
  font-size: 12pt;
}

.content {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: justify;
}

.content .entry {
  border-top-color: #5b639a;
  border-top-style: solid;
  border-top-width: heavy;
  
  border-bottom-color: #5b639a;
  border-bottom-style: solid;
  border-bottom-width: heavy;
  
  margin-left: 1in;
  margin-right: 1in;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  width: 75vw;
}

.content .entry h1 {
  text-decoration: underline;
  text-decoration-color: #5b639a;
  text-underline-offset: 0.25em;
  
  font-size: 17pt;
  font-weight: bold;
}

.content .entry h1::before {
  content: "\00A0\00A0\00A0";
}

.content .entry h1::after {
  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
}

.content .entry h2 {
  text-decoration: underline;
  text-decoration-color: #5b639a;
  text-underline-offset: 0.25em;
  
  font-size: 15pt;
  font-weight: bold;
}

.content .entry h2::before {
  content: "\00A0\00A0\00A0";
}

.content .entry h2::after {
  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
}

.content .signoff {
  text-align: right;  
}

.content blockquote {
  font-style: italic;  
  font-size: 15pt;
  
  margin-right: 2cm;
  margin-left: 2cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  
  text-align: justify;
}

.content blockquote p:first-of-type::before {
  content: open-quote;
  
  float: left;
  margin-left: -1cm;
  
  font-weight: bold;
  font-size: 40pt;
}

.content blockquote p:last-of-type::after {
  content: close-quote;
  
  float: right;
  margin-right: -1cm;
  
  font-weight: bold;
  font-size: 40pt;
}

.content blockquote em {
  font-style: normal;
}

.content blockquote + .signoff {
  font-size: 12pt;
}

.webtitle {
  text-align: center;
  
  font-weight: bold;
  font-size: 26pt;
  
  padding-bottom: 5px;
}
    
.header .inter-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.webtitle .subtitle {
  font-weight: normal;
  font-size: 18pt;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  
  padding-top: 1cm;
}

.big-nav-box {
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 0.25in;
  
  padding-left: 15px;
  padding-right: 15px;
  
  width: 75vw;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.big-nav-box h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #5b639a;
}

.big-nav-box h1::before, .big-nav-box h1::after {
  content:  "\00A0";
}

.hub-title {
  padding-top: 1cm;
  
  text-align: center;
  font-weight: bolder;
  font-size: 25pt;
}

.inner-nav {
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 0.25cm;
  padding-right: 0.25cm;
  
  max-width: 48%;
}

.inner-nav:last-of-type {
    margin-left: 0;
}

.nav-element:not(:first-child) {
  margin-top: 0.75cm;
}

.nav-element a.nav-title {
  font-size: 13pt;
  font-weight: normal;
  
  text-align: justify;
}

.nav-element p {
  font-size: 11pt;
  text-align: justify;
}

.nav-element .time {
  font-size: 10pt;
  font-style: italic;
}